<?xml version="1.0" encoding="utf-8"?>

<log4net>
	<appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/errors/" />
		<datePattern value="yyyy-MM-dd'.log'" />
		<staticLogFileName value="false" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<layout type="Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, Core" />
	</appender>

	<appender name="TrafficAuditFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/audits/" />
		<datePattern value="yyyy-MM-dd'.log'" />
		<staticLogFileName value="false" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<layout type="Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, Core" />
	</appender>

	<appender name="DatabaseAuditFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/databases/" />
		<datePattern value="yyyy-MM-dd'.log'" />
		<staticLogFileName value="false" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<layout type="Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, Core" />
	</appender>

	<appender name="JsonFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/general/" />
		<datePattern value="yyyy-MM-dd'.log'" />
		<staticLogFileName value="false" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<layout type="Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, Core" />
	</appender>

	<root>
		<level value="ALL" />
	</root>

	<logger name="ErrorLogger">
		<level value="ALL" />
		<appender-ref ref="ErrorFileAppender" />
	</logger>

	<logger name="TrafficAuditLogger">
		<level value="ALL" />
		<appender-ref ref="TrafficAuditFileAppender" />
	</logger>

	<logger name="DatabaseAuditLogger">
		<level value="ALL" />
		<appender-ref ref="DatabaseAuditFileAppender" />
	</logger>

	<logger name="JsonFileLogger">
		<level value="ALL" />
		<appender-ref ref="JsonFileAppender" />
	</logger>
</log4net>